name: Pipeline de Contingencia - Equipe 2

on: [push, pull_request]

jobs:
  validacao-poc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Executar Prova de Conceito
        run: python ci_demo.py
